<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timestamp Microservice</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Timestamp Microservice</h1>
    <hr />
    
    <h3>Example Usage:</h3>
    <ul>
      <li><a href="/api/2015-12-25">[project url]/api/2015-12-25</a></li>
      <li><a href="/api/1451001600000">[project url]/api/1451001600000</a></li>
      <li><a href="/api/">Current Time: [project url]/api/</a></li>
    </ul>

    <h3>Example Output:</h3>
    <p>
      <code>{"unix":1451001600000,"utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
    </p>
    
    <div class="footer">
      <p>By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a></p>
    </div>
  </div>
</body>
</html>